<div class="card bg-dark m-5 width-small mx-auto">
  <div class="card-header">Sign Up</div>
  <div class="card-body">
    <form name="vm.form" ng-submit="vm.submit()">
      <div class="form-group">
        <input class="form-control" placeholder="Email" ng-model="vm.form.data.email"
               required type="email">
        <div class="alert alert-danger" ng-if="vm.form.errors.email">
          {{ vm.form.errors.email[0] }}
        </div>
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Username" ng-model="vm.form.data.username"
               required type="text">
        <div class="alert alert-danger" ng-if="vm.form.errors.username">
          {{ vm.form.errors.username[0] }}
        </div>
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Password" ng-model="vm.form.data.password"
               required type="password">
        <div class="alert alert-danger" ng-if="vm.form.errors.password">
          {{ vm.form.errors.password[0] }}
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-dark px-4 py-3" ng-disabled="vm.form.loading">Submit</button>
      </div>
    </form>
  </div>
</div>
