@import "~src/assets/variables";

.btn {
  padding-top: 6px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.party {
  &, button {
    text-transform: uppercase;
  }

  .cover {
    width: 246px;
    height: 246px;
    background-image: url("~src/assets/party.png");
    background-size: cover;
    background-position: center;
    background-color: $info;
  }
}

table {
  tbody {
    tr {
      cursor: pointer;

      &.active {
        color: white;
        background: $table-hover-bg;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }
}
