<!-- Party -->
<div class="party d-flex bg-dark" *ngIf="party">

  <!-- Image -->
  <div class="cover"></div>

  <!-- Info -->
  <div class="d-flex flex-column justify-content-around mx-3">

    <!-- Name, creator, song count and date -->
    <div>
      <h1 class="font-weight-bold">{{ party.name }}</h1>
      <p class="text-secondary">
        <a [routerLink]="['/user', party.user.username]">{{ party.user.username }}</a>
        <span *ngIf="partySongCount"> &bull; {{ partySongCount }} SONGS</span>
        <span *ngIf="partyUserCount"> &bull; {{ partyUserCount }} MEMBERS</span>
        &bull; {{ party.date | date }}
      </p>
    </div>

    <!-- Buttons -->
    <div>
      <button class="btn btn-dark btn-sm" (click)="play()">
        <fa-icon [fixedWidth]="true" icon="play"></fa-icon>
        Play
      </button>
      <button class="btn btn-dark btn-sm ml-2">
        <fa-icon [fixedWidth]="true" icon="heart"></fa-icon>
        Like
      </button>
      <button class="btn btn-dark btn-sm ml-2" *ngIf="isPartyMember() === false" (click)="joinParty()">
        <fa-icon [fixedWidth]="true" icon="user-plus"></fa-icon>
        Join Party
      </button>
      <a class="btn btn-dark btn-sm ml-2" routerLink="settings" *ngIf="auth.isUser(party.user)">
        <fa-icon [fixedWidth]="true" icon="cog"></fa-icon>
        Settings
      </a>
      <button class="btn btn-dark btn-sm ml-2" (click)="leaveParty()">
        <fa-icon [fixedWidth]="true" icon="sign-out-alt"></fa-icon>
        Leave Party
      </button>
    </div>
  </div>
</div>

<!-- Categories -->
<div class="container-fluid">
  <div class="row" *ngIf="party && party.categories">
    <div class="col-lg-3 col-md-4 d-flex card-columns" *ngFor="let category of party.categories">
      <a class="card my-3" (click)="selectCategory(category)" [class.bg-primary]="categorySelected === category">
        <div class="card-body text-uppercase">
          <p class="card-text">
            {{ category.name }}<br>
            <small class="text-white-50">
              {{ getCategorySongCount(category) }} Songs
            </small>
          </p>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- Songs -->
<div class="songs" *ngIf="songs">
  <!-- Song -->
  <div class="song d-flex align-items-center" *ngFor="let song of songsFilter" (click)="play(song)"
       [class.active]="song === playing">
    <!-- Icon -->
    <div class="icon">
      <fa-icon [fixedWidth]="true" icon="play"></fa-icon>
    </div>
    <!-- Image -->
    <div class="cover mr-3" [style.background-image]="'url(https://i.imgur.com/M3zgvc8.jpg)'"></div>
    <!-- Info -->
    <div class="info d-flex flex-column text-truncate">
      <span class="text-truncate">{{ song.name }}</span>
      <small>
        <span>{{ song.user.username }}</span>
        <span *ngIf="song.category">  &bull; {{ song.category.name }}</span>
      </small>
    </div>
    <!-- Icon -->
    <div class="icon">
      <fa-icon [fixedWidth]="true" icon="ellipsis-v"></fa-icon>
    </div>
    <!-- Delete -->
    <button class="btn btn-primary" (click)="deleteSong(song)">X</button>
  </div>
</div>
