@import "~src/assets/variables";

.btn {
  padding-top: 6px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.party {
  &, button {
    text-transform: uppercase;
  }

  .cover {
    width: 246px;
    height: 246px;
    background-image: url("~src/assets/party.png");
    background-size: cover;
    background-position: center;
    background-color: $info;
  }
}

.songs {
  .song {
    padding-top: 15px;
    padding-bottom: 15px;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    &.active {
      background: $dark;

      .icon:first-child {
        color: $primary;
        opacity: 1;
      }
    }

    .icon {
      text-align: center;
      flex-basis: 60px;
      max-width: 60px;
      opacity: 0.1;
    }

    .cover {
      flex-basis: 48px;
      max-width: 48px;
      height: 48px;
      background-size: cover;
      background-position: center;
      background-color: $info;
    }

    .info {
      flex: 1;

      small {
        opacity: 0.4;
      }
    }
  }
}
