<!-- Party info -->
<div class="party d-flex shadow" *ngIf="party">

  <!-- Image -->
  <div class="cover"></div>

  <!-- Info -->
  <div class="d-flex flex-column justify-content-around mx-3">

    <!-- Name, creator, song count and date -->
    <div>
      <h1 class="font-weight-bold">{{ party.name }}</h1>
      <p class="text-secondary">
        <a [routerLink]="['/user', party.user.username]">{{ party.user.username }}</a>
        &bull; {{ partySongCount }} SONGS
        &bull; {{ party.date | date }}
      </p>
    </div>

    <!-- Buttons -->
    <div>
      <button class="btn btn-dark btn-sm" (click)="play()">
        <fa-icon [fixedWidth]="true" icon="play"></fa-icon>
      </button>
      <button class="btn btn-dark btn-sm ml-2">
        <fa-icon [fixedWidth]="true" icon="heart"></fa-icon>
      </button>
      <button class="btn btn-dark btn-sm ml-2">
        <fa-icon [fixedWidth]="true" icon="user-plus"></fa-icon>
      </button>
    </div>
  </div>
</div>

<!-- Categories -->
<div class="pl-4 pt-4 pb-2 text-uppercase" *ngIf="party">
  <a class="btn btn-link mr-3"
     [class.text-primary]="!category"
     [class.text-light]="category"
     (click)="category = null">All Songs</a>
  <a class="btn btn-link mr-3"
     [class.text-primary]="category === partyCategory"
     [class.text-light]="category !== partyCategory"
     (click)="category = partyCategory"
     *ngFor="let partyCategory of party.categories">
    {{ partyCategory.name }}
  </a>
</div>

<!-- Songs -->
<table class="table table-hover" *ngIf="songs">
  <tbody>
  <tr *ngFor="let song of songs" (click)="play(song)" [class.active]="song === playing">
    <td>{{ song.name }}</td>
    <td class="text-light">{{ song.user.username }}</td>
    <td class="text-secondary"><span *ngIf="song.category">#{{ song.category.name }}</span></td>
  </tr>
  </tbody>
</table>
