<!-- Header -->
<div class="modal-header">
  <h5 class="modal-title">{{ category.name }}</h5>
  <button type="button" class="close" (click)="modal.hide()">
    <span>&times;</span>
  </button>
</div>

<!-- Body -->
<div class="modal-body">
  <!-- Category image -->
  <div class="form-group">
    <input class="form-control" type="text" id="image" placeholder="Image from imgur.com"
           [(ngModel)]="category.image">
  </div>
  <!-- Text -->
  <p>Select songs to add to this playlist:</p>
  <!-- Search party songs -->
  <div class="form-group">
    <input class="form-control" type="text" name="search" autocomplete="off" [(ngModel)]="search" placeholder="Search">
  </div>

  <!-- Songs -->
  <table class="table m-0">
    <tbody>
    <tr *ngFor="let song of songsFiltered">
      <!-- Select -->
      <th class="checkbox">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" [id]="song.id"
                 [(ngModel)]="song.selected">
          <label class="custom-control-label" [for]="song.id"></label>
        </div>
      </th>
      <!-- Name -->
      <th class="text-dark">{{ song.name }}</th>
    </tr>
    </tbody>
  </table>
</div>

<!-- Footer -->
<div class="modal-footer">
  <!-- Cancel -->
  <button type="button" class="btn btn-default text-dark" (click)="modal.hide()">Cancel</button>
  <!-- Save -->
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
