<!-- Header -->
<div class="modal-header">
  <h5 class="modal-title">{{ category.name }}</h5>
  <button type="button" class="close" (click)="modal.hide()">
    <span>&times;</span>
  </button>
</div>

<!-- Body -->
<div class="modal-body">
  <!-- Category image -->
  <label for="categoryImage">Playlist image from imgur.com</label>
  <input class="form-control mb-3" type="text" autocomplete="off" id="categoryImage"
         [(ngModel)]="categoryImage">
  <!-- Text -->
  <p>Select songs to add to this playlist:</p>
  <!-- Search party songs -->
  <input class="form-control mb-1" type="text" name="search" autocomplete="off"
         [(ngModel)]="search" placeholder="Search">
  <!-- Songs -->
  <div class="list-group">
    <a class="list-group-item list-group-item-action"
       *ngFor="let song of songsFiltered"
       (click)="song.selected = !song.selected"
       [class.active]="song.selected">
      {{ song.name }}
    </a>
  </div>
</div>

<!-- Footer -->
<div class="modal-footer">
  <!-- Cancel -->
  <button type="button" class="btn btn-default text-dark" (click)="modal.hide()">Cancel</button>
  <!-- Save -->
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
