<div class="card bg-dark my-5 width-small mx-auto">
  <div class="card-body">
    <p>Welcome to <b>MR Player</b> v3.</p>
    <hr>
    <p>Playing SoundCloud songs feature is coming soon but you still can add them to your party.</p>
    <hr>
    <p>
      <a class="btn btn-outline-info btn-sm mr-1" href="https://discord.gg/4C98Q9j">Discord</a>
      <a class="btn btn-outline-info btn-sm mr-1" href="https://github.com/AmirSavand/mr-player">GitHub</a>
      <a class="btn btn-outline-info btn-sm" href="mailto:amir@savandbros.com">Feedback</a>
    </p>
  </div>
</div>

<div class="card bg-dark my-5 width-small mx-auto">
  <div class="card-header">Create Party</div>
  <div class="card-body">
    <form name="vm.createForm" ng-submit="vm.create()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Party name" ng-model="vm.createForm.data.title" required>
      </div>
      <div class="text-center">
        <button class="btn btn-dark px-4 py-3" ng-disabled="vm.createForm.loading">Create</button>
      </div>
    </form>
  </div>
</div>
