<!-- Title -->
<h3 class="item"><a ui-sref="dash">MR Player</a></h3>

<!-- Parties (header) -->
<p class="item mt-5">
  <span>Parties</span>
  <a class="float-right" ui-sref="dash">
    <i class="fa fa-plus-circle"></i>
  </a>
</p>

<!-- Parties -->
<a class="item" ui-sref="party({party: party, id:party.id})"
   ng-class="{active: main.party.id == party.id}"
   ng-repeat="party in main.parties track by $index"> {{ party.name }}
</a>

<!-- Viewing party -->
<a class="item active" ui-sref="party({party: main.party, id:main.party.id})"
   ng-if="main.party && !main.isMemberOfParty()"> {{ main.party.name }}
</a>

<!-- Join viewing party -->
<a class="overlay btn btn-sm btn-light" ng-if="main.party && !main.isMemberOfParty()" ng-click="main.joinParty()">JOIN</a>

<!-- Sign in -->
<a class="item mt-5" ui-sref="sign-in" ui-sref-active="active" ng-if="!main.user">
  <i class="fa fa-sign-in-alt"></i> Sign In
</a>

<!-- Account -->
<span class="item mt-5" ng-if="main.user">
  <span>{{ main.user.username }}</span>
  <a class="float-right" ng-click="main.signOut()"><i class="fa fa-sign-out-alt"></i></a>
</span>

<!-- Toaster -->
<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
