<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card my-3">
        <div class="card-body">
          <h4 class="mb-3">Welcome to <b>PlayzEM</b> <small class="text-secondary"> v4.0</small></h4>
          <p>Host and join parties and keep shuffling sick songs.</p>
          <p class="m-0">
            <a class="btn btn-sm btn-light mr-1" href="https://discord.gg/4C98Q9j">Discord</a>
            <a class="btn btn-sm btn-light mr-1" href="https://github.com/AmirSavand/playzem">GitHub</a>
            <a class="btn btn-sm btn-light mr-1" href="mailto:amir@savandbros.com?subject=PlayzEM">Feedback</a>
            <a class="btn btn-sm btn-secondary" href="https://playzem-old.savandbros.com" target="_blank">
              Older Version
            </a>
          </p>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <h4 class="mb-3">Changelog</h4>
          <ngx-md path="/assets/changelog.md"></ngx-md>
        </div>
      </div>
    </div>
  </div>
</div>
