@import "variables";

.scroll {
  max-height: 290px;
  overflow-y: auto;

  &.parties {
    max-height: 538px;
  }
}

.card {

  h4 {
    margin-bottom: map_get($spacers, 2);
  }

  p {
    margin-bottom: map_get($spacers, 2);
    color: $body-color-secondary;
  }
}

.party {
  background-color: $dark;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.25);

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  }
}
