<div class="container">
  <div class="row justify-content-center">

    <!-- Left -->
    <div class="col-lg-5 order-last order-lg-first">

      <!-- Welcome -->
      <div class="card my-3">
        <div class="card-body">
          <h4 class="mb-3">Welcome to <b>PlayzEM</b> <small class="text-secondary"> v4.2</small></h4>
          <p class="m-1">Host and join parties and keep shuffling sick songs.</p>
          <p class="m-0">
            <a class="btn btn-sm btn-light mr-1 mt-2" href="https://discord.gg/4C98Q9j">Discord</a>
            <a class="btn btn-sm btn-light mr-1 mt-2" href="https://github.com/AmirSavand/playzem">GitHub</a>
            <a class="btn btn-sm btn-light mr-1 mt-2" href="mailto:amir@savandbros.com?subject=PlayzEM">Feedback</a>
          </p>
        </div>
      </div>

      <div class="card my-3">
        <div class="card-body">
          <h4 class="mb-3">Join Party</h4>
          <div class="input-group">
            <input type="text" placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
                   [(ngModel)]="joinPartyId" class="form-control text-monospace"
                   (ngModelChange)="joinPartyId = joinPartyId.toLocaleLowerCase()">
            <span class="input-group-append">
              <a [routerLink]="['/party', joinPartyId]" class="btn btn-secondary"
                 [class.disabled]="joinPartyId.length !== 36">
                Join
              </a>
            </span>
          </div>
        </div>
      </div>

      <!-- Changelog -->
      <div class="card my-3">
        <div class="card-body">
          <h4 class="mb-3">Changelog</h4>
          <ngx-md path="/assets/changelog.md"></ngx-md>
        </div>
      </div>
    </div>

    <!-- Right -->
    <div class="col-lg-7">

      <!-- Parties -->
      <div class="card my-3">
        <div class="card-body">
          <h4 class="mb-3">Explore Parties</h4>
          <!-- Search parties -->
          <div class="input-group mb-2">
            <input class="form-control" placeholder="Search parties" type="text" [(ngModel)]="search">
            <!-- Submit -->
            <div class="input-group-append">
              <button class="btn btn-secondary" (click)="getParties({search: search})">
                <fa-icon [fixedWidth]="true" icon="search"></fa-icon>
              </button>
            </div>
          </div>
          <a class="card party card-link mt-2 ml-0"
             *ngFor="let party of parties"
             [routerLink]="['/party', party.id]"
             [style.background-image]="'url('+party.cover+')'">
            <div class="card-body py-4">
              <h5 class="card-text font-weight-bold">{{ party.name }}</h5>
              <div class="card-text small">
                <span>{{ party.user.account.name }}</span>
                <span class="float-right">{{ party.date | date:'d MMM' }}</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
