<div class="container">
  <div class="row justify-content-center">

    <!-- Left -->
    <div class="col-lg-5">

      <!-- User Details -->
      <div class="card my-3">
        <!-- Image -->
        <img class="card-img-top" src="{{ user.account.image }}">
        <div class="mx-3 my-3">
          <!-- Name -->
          <h5 [style.color]="''+user.account.color+''">{{ user.account.name }}</h5>
          <!-- Bio -->
          <p [style.color]="''+user.account.color+''">{{ user.account.bio }}</p>
        </div>
      </div>
    </div>

    <!-- Right -->
    <div class="col-lg-7">

      <!-- Parties -->
      <div class="card my-3">
        <div class="card-body">
          <h4 class="mb-3">Parties</h4>
          <div class="row">
            <div class="col-md-6" *ngFor="let party of userParties">
              <a class="card party card-link mt-2 ml-0" [routerLink]="['/party', party.id]"
                 [style.background-image]="'url('+party.cover+')'">
                <div class="card-body py-2">
                  <div class="card-text font-weight-bold">{{ party.name }}</div>
                  <div class="card-text small text-white-50">
                    <span>{{ party.user.account.name }}</span>
                    <span class="float-right">{{ party.date | date:'d MMM' }}</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
