<div class="list-group">

  <!-- Player Wrapper -->
  <div class="player-wrapper"
       ng-show="vm.songs.length"
       ng-class="{scrolled: vm.scrolled}"
       style="min-height: {{ vm.playerHeight }}">

    <!-- Player (YouTube) -->
    <div class="player embed-responsive embed-responsive-16by9" ng-show="vm.song.player == 0">
      <youtube-video video-id="'nothing'" player-vars="youtubeConfig"></youtube-video>
    </div>

    <!-- Player (SoundCloud)  -->
    <div class="player player-soundcloud" ng-if="vm.song.player == 1">
      <iframe id="soundcloud" scrolling="no"
              src="https://w.soundcloud.com/player/?url=api.soundcloud.com/tracks/496391337">
      </iframe>
    </div>
  </div>

  <!-- Add song -->
  <div class="card bg-dark br-0">
    <div class="card-body p-0">
      <form name="vm.songForm" ng-submit="vm.addSong()">
        <div class="input-group">
          <!-- Source (URL) input -->
          <input type="text" class="form-control px-3" placeholder="Song URL (YouTube or SoundCloud)"
                 ng-model="vm.songForm.data.source" required>
          <!-- Dropdown -->
          <div class="input-group-append dropdown" ng-if="main.user.id === vm.party.user.id">
            <!-- Dropdown icon -->
            <button class="btn btn-dark rounded-0 px-4" type="button" data-toggle="dropdown">
              <i class="fa fa-caret-down"></i>
            </button>
            <!-- Dropdown options -->
            <div class="dropdown-menu dropdown-menu-right">
              <!-- Create category -->
              <a class="dropdown-item" ng-click="vm.addCategory()">
                <i class="fa fa-fw fa-layer-group"></i> Create category
              </a>
              <!-- Rename party -->
              <a class="dropdown-item" ng-click="vm.renameParty()">
                <i class="fa fa-fw fa-pencil-alt"></i> Rename party
              </a>
              <!-- Separator -->
              <div class="dropdown-divider"></div>
              <!-- Delete party -->
              <a class="dropdown-item" ng-click="vm.deleteParty()">
                <i class="fa fa-fw fa-trash-alt text-danger"></i> Delete party
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Categories -->
  <div ng-repeat="(category, songs) in vm.songs | groupBy: 'category'">

    <!-- Header -->
    <div class="p-3 mt-3 reveal-parent">
      <!-- Name -->
      <b class="text-uppercase text-secondary">{{ vm.categories[category].name || 'Other' }}</b>
      <!-- Buttons -->
      <div class="btn-group btn-group-sm float-right reveal" ng-if="vm.categories[category]">
        <!-- Rename -->
        <button class="btn btn-outline-secondary" ng-click="vm.renameCategory(vm.categories[category])">
          <i class="fa fa-pencil-alt"></i>
        </button>
        <!-- Delete -->
        <button class="btn btn-outline-secondary" ng-click="vm.deleteCategory(vm.categories[category])">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>

    <!-- Songs -->
    <a class="list-group-item song" ng-repeat="song in songs"
       ng-click="vm.play(song)" ng-right-click="vm.removeSong(song)"
       ng-class="{active: vm.song == song}" style="background-image: url({{ vm.getSongImage(song) }})">
      <span class="user">{{ song.user.username }}</span>
      <span class="name">{{ song.name }}</span>
    </a>
  </div>
</div>
