<div class="modal-header">{{ category.name }}</div>
<div class="modal-body">
  <p>Select songs to add to this album:</p>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" *ngFor="let song of songs"
       (click)="song.selected = !song.selected" [class.active]="song.selected">
      {{ song.name }}
    </a>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default text-dark" (click)="modal.hide()">Cancel</button>
  <button type="button" class="btn btn-primary">Save</button>
</div>
