<nav class="navbar navbar-expand navbar-dark bg-dark">
  <!-- Brand -->
  <a class="navbar-brand" [routerLink]="getTitleLink()">PlayzEM</a>
  <!-- Toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Navs -->
  <div class="collapse navbar-collapse" id="nav">
    <!-- Authenticated nav -->
    <div class="nav-item dropdown ml-auto" *ngIf="auth.isAuth()" dropdown>
      <!-- Dropdown label -->
      <a class="nav-link dropdown-toggle" dropdownToggle>{{ user.username }}</a>
      <!-- User dropdown -->
      <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
        <!-- Separator -->
        <!-- <li class="dropdown-divider"></li> -->
        <!-- Sign out -->
        <li><a class="dropdown-item" (click)="auth.signOut()">Sign Out</a></li>
      </ul>
    </div>
    <!-- Unauthenticated nav -->
    <ul class="navbar-nav ml-auto" *ngIf="!auth.isAuth()">
      <!-- Sign in -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/sign-in" routerLinkActive="active">Sign In</a>
      </li>
      <!-- Sign up -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Pages -->
<router-outlet></router-outlet>
