<!-- Wrapper -->
<div id="wrapper">

  <!-- Container -->
  <div id="container" class="d-flex flex-column h-100">

    <!-- Sidebar and Pages -->
    <div class="d-flex h-100 flex-grow-1">

      <!-- Sidebar -->
      <div id="sidebar" class="sidebar d-flex flex-column" [class.closed]="sidebarClosed">

        <!-- Title as toggler -->
        <div class="list-group list-group-flush">

          <!-- Toggler -->
          <a class="list-group-item list-group-item-action m-0" (click)="sidebarClosed = !sidebarClosed">
            <fa-icon [fixedWidth]="true" icon="bars" class="text-dark"></fa-icon>
            <span class="font-weight-bold text-dark">PlayzEM</span>
          </a>
        </div>

        <!-- Profile and cover -->
        <div id="cover" *ngIf="auth.isAuth()">
          <a [routerLink]="['user', user.username]">
            <h4>{{ user.account.display_name }}</h4>
            <p>@{{ user.username }}</p>
          </a>
        </div>

        <!-- Pages and parties -->
        <div class="list-group list-group-flush mt-3  " *ngIf="auth.isAuth()">

          <!-- Dashboard -->
          <a class="list-group-item list-group-item-action"
             routerLink="dashboard" routerLinkActive="active">
            <fa-icon [fixedWidth]="true" icon="tachometer-alt"></fa-icon>
            <span>Dashboard</span>
          </a>

          <!-- Explore -->
          <a class="list-group-item list-group-item-action"
             routerLink="explore" routerLinkActive="active">
            <fa-icon [fixedWidth]="true" icon="search"></fa-icon>
            <span>Explore</span>
          </a>

          <!-- Title -->
          <div class="list-group-item header mt-5">PARTIES</div>

          <!-- Parties -->
          <a class="list-group-item list-group-item-action"
             *ngFor="let party of parties" [routerLink]="['party', party.id]" routerLinkActive="active">
            <fa-icon [fixedWidth]="true" icon="compact-disc"></fa-icon>
            <span>{{ party.name }}</span>
          </a>
        </div>

        <!-- Join links -->
        <div class="list-group list-group-flush" *ngIf="!auth.isAuth()">

          <!-- Title -->
          <div class="list-group-item header mt-5">JOIN</div>

          <!-- Sign In -->
          <a class="list-group-item list-group-item-action" *ngIf="!auth.isAuth()"
             routerLink="sign-in" routerLinkActive="active">
            <fa-icon [fixedWidth]="true" icon="sign-in-alt"></fa-icon>
            <span>SIGN IN</span>
          </a>

          <!-- Sign Up -->
          <a class="list-group-item list-group-item-action" *ngIf="!auth.isAuth()"
             routerLink="sign-up" routerLinkActive="active">
            <fa-icon [fixedWidth]="true" icon="user-plus"></fa-icon>
            <span>SIGN UP</span>
          </a>
        </div>

        <!-- Bottom links -->
        <div class="list-group list-group-flush mt-auto" *ngIf="auth.isAuth()">

          <!-- Settings -->
          <a class="list-group-item list-group-item-action" routerLink="user-settings" routerLinkActive="active">
            <fa-icon [fixedWidth]="true" icon="cog"></fa-icon>
            <span>Settings</span>
          </a>

          <!-- Sign Out -->
          <a class="list-group-item list-group-item-action" (click)="auth.signOut()">
            <fa-icon [fixedWidth]="true" icon="sign-out-alt"></fa-icon>
            <span>Sign Out</span>
          </a>
        </div>
      </div>

      <!-- Pages -->
      <div id="pages-wrapper">
        <div id="pages">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <!-- Player -->
    <div class="d-flex flex-column">
      <app-player></app-player>
    </div>
  </div>
</div>
