<!-- Loading bar -->
<ngx-loading-bar color="#ff1493" [includeSpinner]="false"></ngx-loading-bar>

<!-- Wrapper -->
<div id="wrapper">

  <!-- Container -->
  <div id="container" class="d-flex flex-column justify-content-end h-100">

    <!-- Sidebar and pages wrapper -->
    <div class="d-flex h-100 flex-grow-1">
      <div class="backdrop" (click)="toggleSidebar()" [class.closed]="!sidebarStatus"></div>

      <!-- Sidebar -->
      <div id="sidebar" class="d-sm-flex flex-column" [class.closed]="!sidebarStatus">

        <!-- Title as toggler -->
        <div class="list-group list-group-flush">

          <!-- Toggler -->
          <a class="list-group-item list-group-item-action m-0" (click)="toggleSidebar()">
            <fa-icon [fixedWidth]="true" [icon]="bars" class="text-dark"></fa-icon>
            <span class="font-weight-bold text-dark">PlaysEM</span>
          </a>
        </div>

        <!-- Profile and cover -->
        <div id="cover" *ngIf="auth.isAuth()" [style.background-image]="getUserImage">
          <a [routerLink]="['user', user.username]">
            <h4>{{ user.account.name }}</h4>
            <p>@{{ user.username }}</p>
          </a>
        </div>

        <!-- Pages -->
        <div class="list-group list-group-flush mt-3">

          <!-- Dashboard -->
          <a class="list-group-item list-group-item-action"
             routerLink="dashboard" routerLinkActive="active">
            <fa-icon [fixedWidth]="true" [icon]="tachometerAlt"></fa-icon>
            <span>Dashboard</span>
          </a>
        </div>

        <!-- Parties -->
        <div class="list-group list-group-flush" *ngIf="auth.isAuth()">

          <!-- Title -->
          <div class="list-group-item header mt-3">PARTIES</div>

          <!-- Parties -->
          <a class="list-group-item list-group-item-action text-truncate"
             *ngFor="let party of parties" [routerLink]="['party', party.id]" routerLinkActive="active">
            <fa-icon [fixedWidth]="true" [icon]="compactDisc"></fa-icon>
            <span>{{ party.name }}</span>
          </a>

          <!-- Create -->
          <a class="list-group-item list-group-item-action"
             routerLink="party/new" routerLinkActive="active">
            <fa-icon [fixedWidth]="true" [icon]="faPlus"></fa-icon>
          </a>
        </div>

        <!-- Join links -->
        <div class="list-group list-group-flush" *ngIf="!auth.isAuth()">

          <!-- Title -->
          <div class="list-group-item header mt-5">JOIN</div>

          <!-- Sign In -->
          <a class="list-group-item list-group-item-action" *ngIf="!auth.isAuth()"
             routerLink="sign-in" routerLinkActive="active">
            <fa-icon [fixedWidth]="true" [icon]="signInAlt"></fa-icon>
            <span>Sign In</span>
          </a>

          <!-- Sign Up -->
          <a class="list-group-item list-group-item-action" *ngIf="!auth.isAuth()"
             routerLink="sign-up" routerLinkActive="active">
            <fa-icon [fixedWidth]="true" [icon]="userPlus"></fa-icon>
            <span>Sign Up</span>
          </a>
        </div>

        <!-- Bottom links -->
        <div class="list-group list-group-flush mt-auto" *ngIf="auth.isAuth()">

          <!-- Settings -->
          <a class="list-group-item list-group-item-action" routerLink="user-settings" routerLinkActive="active">
            <fa-icon [fixedWidth]="true" [icon]="cog"></fa-icon>
            <span>Settings</span>
          </a>

          <!-- Sign Out -->
          <a class="list-group-item list-group-item-action" (click)="auth.signOut()">
            <fa-icon [fixedWidth]="true" [icon]="signOutAlt"></fa-icon>
            <span>Sign Out</span>
          </a>
        </div>
      </div>

      <!-- Pages wrapper -->
      <div id="pages-wrapper">

        <!-- Pages and navbar -->
        <div id="pages">

          <!-- Navbar -->
          <nav class="navbar navbar-dark justify-content-start bg-dark d-sm-none sticky-top">
            <!-- Brand -->
            <button class="btn mr-2" type="button" (click)="toggleSidebar()">
              <fa-icon [icon]="bars"></fa-icon>
            </button>
            <a class="navbar-brand ml-0" routerLink="/">PlaysEM</a>
          </nav>

          <!-- Pages -->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <!-- Player -->
    <div class="d-flex flex-column">
      <app-player></app-player>
    </div>
  </div>
</div>
