<!-- Header -->
<div class="modal-header">
  <h5 class="modal-title">{{ category.name }}</h5>
  <button type="button" class="close" (click)="modal.hide()">
    <span>&times;</span>
  </button>
</div>

<!-- Body -->
<div class="modal-body pb-0">
  <!-- Category image -->
  <div class="form-group">
    <label for="image">Image from imgur.com</label>
    <input class="form-control" type="text" id="image" [(ngModel)]="category.image">
  </div>
  <!-- Text -->
  <p>Select songs to add to this playlist:</p>
  <!-- Search party songs -->
  <div class="form-group">
    <input class="form-control" type="text" name="search" autocomplete="off" [(ngModel)]="search" placeholder="Search">
  </div>
  <!-- Songs -->
  <div class="card">
    <div class="card-body scroll">
      <div class="custom-control custom-checkbox text-truncate"
           *ngFor="let song of songsFiltered; let last = last" [class.mb-2]="!last">
        <input type="checkbox" class="custom-control-input" [id]="song.id" [(ngModel)]="song.selected">
        <label class="custom-control-label" [for]="song.id">{{ song.name }}</label>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="modal-footer">
    <!-- Cancel -->
    <button type="button" class="btn btn-default text-dark" (click)="modal.hide()">Cancel</button>
    <!-- Save -->
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
  </div>
</div>
