<!-- Outer -->
<div id="outer">

  <!-- Timeline -->
  <div id="timeline" (click)="seek($event)" *ngIf="playing">

    <!-- Progress bar -->
    <progressbar [value]="timeline"></progressbar>
  </div>

  <!-- Player -->
  <div id="player" class="navbar navbar-expand navbar-dark bg-dark px-0" *ngIf="playing">

    <!-- Playing -->
    <div id="playing" class="col-4" (click)="expand= !expand; queue = false;">

      <!-- Playing cover -->
      <div class="cover d-none d-sm-flex" [style.background-image]="'url('+getSongImage(playing)+')'"></div>

      <!-- Player name and party and user -->
      <div class="info d-flex flex-column justify-content-center ml-sm-3">
        <span class="text-truncate">{{ playing.name }}</span>
        <small class="text-truncate text-secondary">
          {{ playing.party.name }} <span class="d-none d-sm-inline">&bull; {{ playing.user.username }}</span>
        </small>
      </div>
    </div>

    <!-- Controls -->
    <div id="controls" class="col-4 justify-content-center" *ngIf="playing">
      <!-- Previous -->
      <div class="mx-sm-1 px-1 px-sm-2" (click)="previous()">
        <fa-icon [fixedWidth]="true" [icon]="backward"></fa-icon>
      </div>
      <!-- Pause -->
      <div class="mx-sm-1 px-1 px-sm-2" (click)="pause()" *ngIf="!isPaused()">
        <fa-icon [fixedWidth]="true" [icon]="faPause"></fa-icon>
      </div>
      <!-- Play -->
      <div class="mx-sm-1 px-1 px-sm-2" (click)="resume()" *ngIf="isPaused()">
        <fa-icon [fixedWidth]="true" [icon]="faPlay"></fa-icon>
      </div>
      <!-- Next -->
      <div class="mx-sm-1 px-1 px-sm-2" (click)="next()">
        <fa-icon [fixedWidth]="true" [icon]="forward"></fa-icon>
      </div>
    </div>

    <!-- Options -->
    <div id="options" class="col-4 justify-content-end align-items-center" *ngIf="playing">
      <!-- Repeat (disabled) -->
      <div class="mx-sm-1 px-1 px-sm-2" (click)="repeat = playerRepeat.ALL"
           *ngIf="repeat === playerRepeat.DISABLE" tooltip="No repeat">
        <fa-icon [fixedWidth]="true" [icon]="retweet"></fa-icon>
      </div>
      <!-- Repeat (all) -->
      <div class="mx-sm-1 px-1 px-sm-2 active" (click)="repeat = playerRepeat.SINGLE"
           *ngIf="repeat === playerRepeat.ALL" tooltip="Repeat all">
        <fa-icon [fixedWidth]="true" [icon]="retweet"></fa-icon>
      </div>
      <!-- Repeat (single) -->
      <div class="mx-sm-1 px-1 px-sm-2 active" (click)="repeat = playerRepeat.DISABLE"
           *ngIf="repeat === playerRepeat.SINGLE" tooltip="Single repeat">
        <fa-icon [fixedWidth]="true" [icon]="retweet"></fa-icon>
      </div>
      <!-- Shuffle (toggle) -->
      <div class="mx-sm-1 px-1 px-sm-2" (click)="toggleShuffle()" [class.active]="shuffle" tooltip="Shuffle">
        <fa-icon [fixedWidth]="true" [icon]="random"></fa-icon>
      </div>
      <!-- Sound -->
      <ng-template #volumeTemplate>{{ volume }}%</ng-template>
      <div class="mx-sm-1 px-1 px-sm-2" (click)="toggleMute()" [tooltip]="volumeTemplate"
           [class.active]="!isMute()" (wheel)="onVolumeChange($event)">
        <fa-icon [fixedWidth]="true" [icon]="volumeUp" *ngIf="!isMute()"></fa-icon>
        <fa-icon [fixedWidth]="true" [icon]="volumeMute" *ngIf="isMute()"></fa-icon>
      </div>
      <!-- Popup -->
      <div class="mx-sm-1 px-1 px-sm-2" (click)="queue = !queue; expand = false;" tooltip="Toggle queue"
           [class.active]="queue">
        <fa-icon [fixedWidth]="true" [icon]="faExpand"></fa-icon>
      </div>
    </div>
  </div>

  <!-- YouTube -->
  <div id="youtube" [class.open]="expand" class="embed-responsive embed-responsive-16by9" #container>
    <ngx-y2-player #video
                   [container]="container"
                   [tabIndex]="-1"
                   [videoId]="'nothing'"
                   [playerOptions]="videoPlayerOptions"
                   (ready)="onYouTubePlayerReady()"
                   (stateChange)="onYouTubePlayerChange()">
    </ngx-y2-player>
  </div>

  <!-- Queue -->
  <div id="queue" [class.open]="queue" *ngIf="playing">
    <div class="cover" [style.background-image]="playingPartyCover">
      <div class="text-white-50">Playing from:</div>
      <div>{{ playing.party.name }}</div>
    </div>
    <div class="list-group list-group-flush">
      <button class="list-group-item list-group-item-action text-truncate"
              [class.active]="playing.id === song.id"
              (click)="play(song)"
              *ngFor="let song of songs">
        {{ song.name }}
      </button>
    </div>
  </div>
</div>
