<!-- Outer -->
<div id="outer" class="fixed-bottom">

  <!-- Timeline -->
  <div id="timeline" (click)="seek($event)" *ngIf="playing">

    <!-- Progress bar -->
    <progressbar [value]="timeline"></progressbar>
  </div>

  <!-- Player -->
  <div id="player" class="navbar navbar-expand navbar-dark bg-dark row" *ngIf="playing">

    <!-- Playing -->
    <div id="playing" class="col-4" (click)="expand= !expand">

      <!-- Playing cover -->
      <div class="cover" [ngStyle]="{backgroundImage: 'url(https://i.imgur.com/M3zgvc8.jpg)'}"></div>

      <!-- Player name and party and user -->
      <div class="info d-flex flex-column justify-content-center ml-3">
        <span class="text-truncate">{{ playing.name }}</span>
        <small class="text-truncate text-secondary">
          {{ playing.party.name }} &bull; {{ playing.user.username }}
        </small>
      </div>
    </div>

    <!-- Controls -->
    <div id="controls" class="col-4 justify-content-center" *ngIf="playing">
      <div>
        <fa-icon icon="backward"></fa-icon>
      </div>
      <div>
        <fa-icon icon="play"></fa-icon>
      </div>
      <div>
        <fa-icon icon="forward"></fa-icon>
      </div>
    </div>

    <!-- Options -->
    <div id="options" class="col-4 justify-content-end align-items-center" *ngIf="playing">
      <div>
        <fa-icon icon="retweet"></fa-icon>
      </div>
      <div>
        <fa-icon icon="random"></fa-icon>
      </div>
      <div>
        <fa-icon icon="volume-up"></fa-icon>
      </div>
      <div class="volume">
        <progressbar [value]="30"></progressbar>
      </div>
    </div>
  </div>

  <!-- YouTube -->
  <div id="youtube" [class.open]="expand">
    <ngx-y2-player #video
                   [tabIndex]="-1"
                   [videoId]="'nothing'"
                   [playerOptions]="videoPlayerOptions"
                   (ready)="onYouTubePlayerRead()"
                   (stateChange)="onYouTubePlayerChange()">
    </ngx-y2-player>
  </div>
</div>
