@import "~src/assets/variables";

#outer {

  #timeline {
    position: relative;
    z-index: 1;
    height: 12px;
    margin-bottom: -6px;
    padding-top: 3px;
  }

  #player {
    height: 80px;

    #playing,
    #controls,
    #options {
      display: flex;

      &:not(#playing) > div {
        margin: 0 5px;
        padding: 10px;
        cursor: pointer;

        &:active {
          opacity: 0.4;
        }
      }
    }

    #playing {

      .cover {
        flex-basis: 80px;
        min-width: 80px;
        height: 80px;
        margin-left: -16px;
        background-size: cover;
        background-position: center;
        background-color: $info;
      }

      .info {
        overflow: hidden;
      }
    }

    #options {

      .volume {
        width: 100px;
      }
    }
  }

  #youtube {
    width: 100%;
    max-height: 480px;
    height: 0;
    transition: height 250ms;

    &.open {
      height: 480px;
    }
  }
}


