<!-- Header -->
<div class="modal-header">{{ song.name }}</div>

<!-- Body -->
<div class="modal-body">
  <!-- Text -->
  <p>Select songs to add to this album:</p>
  <!-- Search song categories -->
  <input class="form-control mb-1" type="text" name="search" autocomplete="off"
         [(ngModel)]="search" placeholder="Search">
  <!-- Categories -->
  <div class="list-group">
    <a class="list-group-item list-group-item-action"
       (click)="song.category = null" [class.active]="!song.category">None</a>
    <a class="list-group-item list-group-item-action"
       *ngFor="let category of songCategoriesFiltered"
       (click)="song.category = category"
       [class.active]="song.category && category.id === song.category.id">
      {{ category.name }}
    </a>
  </div>
</div>

<!-- Footer -->
<div class="modal-footer">
  <!-- Cancel -->
  <button type="button" class="btn btn-default text-dark" (click)="modal.hide()">Cancel</button>
  <!-- Save -->
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
