<!-- Header -->
<div class="modal-header">
  <h5 class="modal-title">{{ song.name }}</h5>
  <button type="button" class="close" (click)="modal.hide()">
    <span>&times;</span>
  </button>
</div>

<!-- Body -->
<div class="modal-body">
  <!-- Text -->
  <p>Select song playlist:</p>
  <!-- Search song categories -->
  <div class="form-group">
    <input class="form-control mb-3" type="text" name="search" autocomplete="off"
           [(ngModel)]="search" placeholder="Search">
  </div>
  <!-- Categories -->
  <div class="scroll border-top">
    <div class="custom-control custom-checkbox mb-2" *ngFor="let category of categoriesFiltered">
      <input type="checkbox" class="custom-control-input" [id]="category.id"
             [(ngModel)]="category.selected">
      <!-- Name -->
      <label class="custom-control-label" [for]="category.id">{{ category.name }}</label>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="modal-footer">
  <!-- Cancel -->
  <button type="button" class="btn btn-default text-dark" (click)="modal.hide()">Cancel</button>
  <!-- Save -->
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
