<!-- Header -->
<div class="modal-header">
  <h5 class="modal-title">{{ song.name }}</h5>
  <button type="button" class="close" (click)="modal.hide()">
    <span>&times;</span>
  </button>
</div>

<!-- Body -->
<div class="modal-body pb-0">
  <!-- Text -->
  <p>Select song playlist:</p>
  <!-- Search song categories -->
  <input class="form-control mb-1" type="text" name="search" autocomplete="off"
         [(ngModel)]="search" placeholder="Search">

  <!-- Categories -->
  <div class="d-flex py-3 px-2 border-bottom" *ngFor="let category of categoriesFiltered">
    <!-- Select -->
    <div class="checkbox">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" [id]="category.id"
               [(ngModel)]="category.selected">
        <label class="custom-control-label" [for]="category.id"></label>
      </div>
    </div>
    <!-- Name -->
    <h6 class="ml-4">{{ category.name }}</h6>
  </div>
</div>

<!-- Footer -->
<div class="modal-footer">
  <!-- Cancel -->
  <button type="button" class="btn btn-default text-dark" (click)="modal.hide()">Cancel</button>
  <!-- Save -->
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
