@import "variables";
@import "~bootstrap/scss/bootstrap";

::-webkit-scrollbar-track,
::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

.h-100 {
  min-height: 0;
}

body,
html {
  height: 100%;
}

body {
  cursor: default;
  // #2020
  background-image: url("xmas.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 100000px rgba($body-bg, 0.8);
}

button {
  outline: none !important;
}

a {
  cursor: pointer;
}

.text-pre {
  white-space: pre-line;
  word-break: break-word;
}
