<div class="card bg-dark m-5 width-small mx-auto">
  <div class="card-header">Sign In</div>
  <div class="card-body">
    <form name="vm.form" ng-submit="vm.submit()">
      <div class="form-group">
        <input class="form-control" placeholder="Username" ng-model="vm.form.data.username"
               required type="text">
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Password" ng-model="vm.form.data.password"
               required type="password">
      </div>
      <div class="alert alert-danger" ng-if="vm.form.error">Incorrect username or password.</div>
      <div class="text-center">
        <button class="btn btn-dark px-4 py-3" ng-disabled="vm.form.loading">Submit</button>
      </div>
    </form>
  </div>
</div>
