@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$body-bg: darken($dark, 10);

$font-family-base: 'Rubik';
$font-weight-light: 400;
$font-weight-bold: 700;

$navbar-padding-y: 15px;

$link-decoration: none;
$link-hover-decoration: none;

$card-bg: $dark;
$card-color: $light;
$card-border-width: 0;

@import "~bootstrap/scss/bootstrap";
