<div class="container py-3">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card my-3">
        <!-- Header -->
        <div class="card-header">Create Party</div>
        <!-- Body -->
        <form class="card-body" (ngSubmit)="createParty()" [formGroup]="partyForm">
          <!-- Title -->
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" formControlName="title">
            <span class="text-danger" *ngIf="errors.name">{{ errors.name[0] }}</span>
          </div>
          <!-- Status -->
          <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" id="status" formControlName="status">
              <option *ngFor="let status of partyStatuses" [ngValue]="status.id">{{ status.label }}</option>
            </select>
          </div>
          <!-- Image -->
          <div class="form-group">
            <label for="image">Image from imgur.com</label>
            <input class="form-control" type="text" id="image" formControlName="image">
            <span class="text-danger" *ngIf="errors.image">{{ errors.image[0] }}</span>
          </div>
          <!-- Cover -->
          <div class="form-group">
            <label for="cover">Cover from imgur.com</label>
            <input class="form-control" type="text" id="cover" formControlName="cover">
            <span class="text-danger" *ngIf="errors.cover">{{ errors.cover[0] }}</span>
          </div>
          <!-- Description -->
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="6" formControlName="description">
            </textarea>
            <span class="text-danger" *ngIf="errors.description">{{ errors.description[0] }}</span>
          </div>
          <!-- General errors -->
          <p class="text-danger" *ngIf="errors.non_field_errors">{{ errors.non_field_errors[0] }}</p>
          <!-- Button -->
          <button class="btn btn-primary btn-block" [disabled]="loading">
            <fa-icon [fixedWidth]="true" [icon]="faPlus"></fa-icon>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
