<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-3">
      <!-- Send token to email -->
      <div class="card my-3" *ngIf="!success">
        <div class="card-header text-center">Reset password</div>
        <div class="card-body">
          <form (ngSubmit)="tokenSubmit()" [formGroup]="tokenForm">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" formControlName="email">
              <!-- Error -->
              <div class="text-danger" *ngIf="tokenError.email">
                {{ tokenError.email[0] }}
              </div>
            </div>
            <!-- Submit -->
            <button class="btn btn-block btn-info" [disabled]="loading || tokenForm.invalid">Submit</button>
          </form>
        </div>
      </div>

      <!-- Success change password message -->
      <div class="alert alert-success" *ngIf="success">{{ success }}</div>

      <!-- Reset password -->
      <div class="card my-3" *ngIf="success">
        <div class="card-header">Change Password</div>
        <form class="card-body" (ngSubmit)="resetPasswordConfirm()" [formGroup]="resetPasswordForm">
          <!-- New password -->
          <div class="form-group">
            <label for="new_password1">New password</label>
            <input class="form-control" type="password" id="new_password1" formControlName="new_password1">
            <!-- Error -->
            <div class="text-danger" *ngIf="resetPasswordError.new_password1">
              {{ resetPasswordError.new_password1[0] }}
            </div>
          </div>
          <!-- New password confirm -->
          <div class="form-group">
            <label for="new_password2">Confirm new password</label>
            <input class="form-control" type="password" id="new_password2" formControlName="new_password2">
            <!-- Error -->
            <div class="text-danger" *ngIf="resetPasswordError.new_password2">
              {{ resetPasswordError.new_password2[0] }}
            </div>
          </div>
          <!-- token -->
          <div class="form-group">
            <label for="token">Token</label>
            <input class="form-control" type="text" id="token" formControlName="token">
            <!-- Error -->
            <div class="text-danger" *ngIf="resetPasswordError.token">
              {{ resetPasswordError.token[0] }}
            </div>
          </div>
          <!-- Submit -->
          <button class="btn btn-block btn-info" [disabled]="loading || resetPasswordForm.invalid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
